<ion-content fullscreen class="background">
  <div class="ion-text-center imghdr">
    <img src="../../assets/img/logo.jpg" class="logo" />
  </div>
  
  <ion-card text-center class="card">
    <ion-card-header class="hdr">
      <img src="../../assets/img/logo.jpg" class="logo" />
      <ion-card-title class="ion-text-center">Prueba técnica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="valueForm" (ngSubmit)="validForm()">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="1">
              <span item-rigth><ion-icon name="person-outline"></ion-icon></span>
            </ion-col>
            <ion-col size="11">
              <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email" required #email-input></ion-input>
              </ion-item>
              <ion-label #email-input-er1 color="danger" *ngIf="valueForm.get('email').errors?.email && (valueForm.touched || valueForm.dirty)">* El email no es válido.</ion-label>
              <ion-label color="danger" *ngIf="valueForm.get('email').errors?.required && (valueForm.touched || valueForm.dirty)">* El email es obligatorio.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1">
              <span item-rigth><ion-icon name="lock-closed-outline"></ion-icon></span>
            </ion-col>
            <ion-col size="11">
              <ion-item lines="full">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="pass" required #password-input></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="valueForm.get('pass').errors?.required && (valueForm.touched || valueForm.dirty)">* La contraseña es obligatoria.</ion-label>
              <ion-label #pass-input-er1 color="danger" *ngIf="valueForm.get('pass').errors?.minLength && (valueForm.touched || valueForm.dirty)">* Digite mínimo de 5 caracteres.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Recordar</ion-label>
                <ion-toggle color="primary" formControlName="rm"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block" #signin-button>Acceder</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>